.post-info {
	padding: 20px 20px 5px;
	width: 100%;

	@media (max-width: 768px) {
		padding: 0;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media (max-width: 768px) {
			padding: 10px 10px 5px 10px;
		}
	}

	&__information {
		display: flex;
		gap: 10px;
	}

	&__avatar {
	}

	&__icon-group {
		img {
			min-height: 40px;
			min-width: 40px;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
	}

	&__group-info {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__name-group {
		text-decoration: none;
		color: #fff;
	}

	&__separator {
		color: #c5d0e6;
	}

	&__create-time {
		color: #c5d0e6;
		font-size: 13px;
	}

	&__author {
		display: flex;
		padding-left: 5px;
		gap: 2px;
		span {
			font-size: 14px;
			color: #c5d0e6;
		}
		a {
			font-size: 14px;
			text-decoration: none;
			color: #c5d0e6;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__box-info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__title {
		color: #fff;
		font-size: 18px;
		line-height: 2.25rem;
		font-weight: 600;
	}

	&__text {
		color: #b8c5c9;
		font-size: 1rem;
		line-height: 1.5;
		width: 100%;
		overflow-wrap: break-word;
		white-space: pre-wrap;
		text-align: justify;
		height: auto;
	}

	&__functional {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px;
	}

	&__voting {
		display: flex;
		gap: 10px;

		span {
			color: #fff;
		}
	}

	&__vote-button {
		img {
			max-width: 20px;
			max-height: 20px;
		}
	}

	&__share {
		border-radius: 6px;
		button {
			display: flex;
			padding: 10px 9px;
			align-items: center;
			gap: 10px;

			span {
				color: #fff;
			}
		}

		&:hover {
			background-color: #2c353d;
		}
	}

	&__save {
		border-radius: 6px;
		button {
			display: flex;
			padding: 10px 9px;
			align-items: center;
			gap: 8px;

			span {
				color: #fff;
			}
		}
		&:hover {
			background-color: #2c353d;
		}

		@media (max-width: 550px) {
			display: none;
		}
	}

	&__another {
		display: flex;
		border-radius: 6px;
		position: relative;
		align-items: center;

		button {
			color: #fff;
			font-size: 1.25rem;
			padding: 10px 9px;
		}

		&:hover {
			background-color: #2c353d;
		}
	}

	&__action-list {
		display: flex;
		flex-direction: column;
		background: #262d34;
		position: absolute;

		z-index: 1;
		transition: box-shadow 0s linear;
		box-shadow: 0 0 0 0.5px white;
		padding: 5px;
		width: max-content;
	}

	&__list-item {
		display: flex;
		align-items: center;
		color: #c5d0e6;
		gap: 2px;
		padding: 8px 7px;
		border-radius: 0.375rem;
		cursor: pointer;

		&:hover {
			background: #2c353d;
		}
	}

	&__list-item-save {
		display: none;
		color: #c5d0e6;
		gap: 2px;
		padding: 8px 7px;
		border-radius: 0.375rem;
		cursor: pointer;

		&:hover {
			background: #2c353d;
		}

		@media (max-width: 550px) {
			display: flex;
		}
	}
}
