.homePage {
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	background-color: #1e252b;
	position: absolute;
	width: 100%;
	height: calc(100% - 80px);
}
