.create-post {
	padding: 20px;
	border-radius: 1rem;
	background: #262d34;

	@media (max-width: 768px) {
		display: none;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	&__icon {
		min-height: 2.5rem;
		min-width: 2.5rem;
	}

	&__input-data {
		display: flex;
		align-items: center;
		width: 100%;

		a {
			width: 100%;
		}

		input {
			width: 100%;
			padding: 12px 0px 12px 12px;
			color: #858ead;
			border-radius: 0.375rem;
			outline: none;
			border: none;
			background: #2c353d;
		}

		@media (max-width: 1350px) {
			font-size: 0.8125rem;
		}
	}

	&__button-link {
		border-radius: 0.375rem;
		padding: 12px 16px;
		background: #ff6934;
		transition: all 250ms;
		cursor: pointer;
		white-space: nowrap;
		text-decoration: none;
		color: #fff;
		font-weight: 600;

		&:hover {
			background-color: #fb8332;
			box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.75rem;
		}
	}
}
