.link-post {
	text-decoration: none;
	display: flex;
	cursor: pointer;
	background: #262d34;
	border-radius: 16px;
	transition: box-shadow 0s linear;
	&:not(:first-child) {
		&:hover {
			box-shadow: 0 0 0 0.5px white;
		}
	}

	&__container {
		padding: 20px 20px 5px;
		width: 100%;
	}

	&__card {
		display: flex;
		gap: 20px;
	}

	&__voting {
		display: flex;
		flex-direction: column;
		gap: 8px;
		align-items: center;

		span {
			color: #f4f6f8;
		}
	}

	&__vote-button {
		user-select: none;
		padding: 2px;

		&:hover {
			background: #2c353d;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}

	&__information {
		align-items: center;
		display: flex;
		gap: 10px;
		font-size: 12px;
	}

	&__group {
		align-items: center;
		display: flex;
		gap: 5px;
	}

	&__icon-group {
		display: flex;
		align-items: center;
	}

	&__name-group {
		color: #c5d0e6;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	&__separator {
		color: #c5d0e6;
	}

	&__author {
		display: flex;
		gap: 5px;

		span {
			color: #c5d0e6;
		}
	}

	&__account {
		a {
			color: #c5d0e6;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__create-time {
	}

	&__box-info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__title {
		color: #f4f6f8;
		font-weight: 600;
		font-size: 20px;
	}

	&__text {
		overflow: hidden;
		position: relative;

		&.tall {
			&:before {
				height: 40%;
			}
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0;
			background: linear-gradient(to bottom, transparent 0%, #262d34 100%);
			transition: height 0.5s ease;
		}

		textarea {
			color: #f4f6f8;
			resize: none;
			background: transparent;
			border: none;
			cursor: pointer;

			width: 100%;
			min-height: 100px;
			max-height: 350px;
			line-height: 1.5;
			font-size: 1em;
			overflow-wrap: break-word;
			white-space: pre-wrap;
			text-align: justify;
			overflow-y: hidden;
		}
	}

	&__functional {
		display: flex;
		gap: 10px;
	}

	&__comments,
	&__share,
	&__save {
		text-decoration: none;
		align-items: center;
		color: #c5d0e6;
		padding: 10px 9px;
		display: flex;
		gap: 6px;
		border-radius: 6px;

		&:hover {
			background: #2c353d;
		}
	}

	&__share,
	&__save {
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #c5d0e6;
		}
	}

	&__another {
		display: flex;
		position: relative;
		align-items: center;
		border-radius: 6px;

		&:hover {
			background: #2c353d;
		}
		button {
			font-size: 20px;
			display: flex;
			padding: 10px;
			align-items: center;
			justify-content: center;
			color: #c5d0e6;
		}
	}

	&__action-list {
		display: flex;
		flex-direction: column;
		background: #262d34;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		transition: box-shadow 0s linear;
		box-shadow: 0 0 0 0.5px white;
		padding: 5px;
		width: max-content;
	}

	&__list-item {
		color: #fff;
		padding: 8px 7px;
		border-radius: 6px;
		cursor: pointer;

		&:hover {
			background: #2c353d;
		}
	}
}
