.pinned-group {
	display: flex;
	width: 100%;
	padding: 1.25rem 1.5625rem 1.25rem 1.25rem;
	border-radius: 10px;
	background: #262d34;

	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.3125rem;
	}

	&__title {
		font-size: 1.125rem;
		font-weight: 600;
		line-height: 1.5rem;

		a {
			text-decoration: none;
			color: #fff;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.3125rem;
	}

	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 3%;
		border-radius: 0.375rem;
		gap: 1%;
		cursor: pointer;

		&:hover {
			background: #2c353d;
		}
	}

	&__logo {
		display: flex;
		padding: 0.375rem;
		border-radius: 0.25rem;
	}

	&__info-box {
	}

	&__name {
		color: #fff;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.125rem;
	}

	&__description {
		font-size: 0.875rem;
		color: #97989d;
	}
}
